jboss-hsgw-tool/oi/GetCarsResponse/GetCarsResponse.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Mit XMLSpy v2007 sp2 (http://www.altova.com) von XMLSpy 2007 Professional Ed., Installed for 2 users (with SMP from 2006-12-12 to 2007-12-13) (BPCS GmbH) bearbeitet -->
<!--W3C Schema generated by XMLSpy v2005 sp2 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:com="../Common/CarCommonTypes.xsd" elementFormDefault="qualified">
  <xs:include schemaLocation="../Common/CarCommonTypes.xsd"/>
  <xs:element name="Errors">
    <xs:annotation>
      <xs:documentation>Contains error objects</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Error" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ACRISS">
    <xs:annotation>
      <xs:documentation>The ACRISS code</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="[A-Z]{0}|[A-Z]{4}"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Administration">
    <xs:annotation>
      <xs:documentation>Contain administrative data</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Currency"/>
        <xs:element ref="DemandedObject"/>
        <xs:element ref="Errors" minOccurs="0"/>
        <xs:element ref="Error" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Adults" type="xs:short">
    <xs:annotation>
      <xs:documentation>Number of adults</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Car">
    <xs:annotation>
      <xs:documentation>The Car object</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="GroupId"/>
        <xs:element ref="TypeId"/>
        <xs:element ref="GroupName"/>
        <xs:element ref="Producer"/>
        <xs:element ref="Type"/>
        <xs:element ref="Doors"/>
        <xs:element ref="Seats"/>
        <xs:element ref="Price"/>
        <xs:element ref="PriceStd"/>
        <xs:element ref="Status"/>
        <xs:element ref="RateQualifier" minOccurs="0"/>
        <xs:element ref="ACRISS"/>
        <xs:element ref="HorsePower"/>
        <xs:element ref="TrunkSize"/>
        <xs:element ref="Adults"/>
        <xs:element ref="Children"/>
        <xs:element ref="LuggageLarge"/>
        <xs:element ref="LuggageSmall"/>
        <xs:element ref="FuelType"/>
        <xs:element ref="PromoText"/>
        <xs:element ref="FormId"/>
        <xs:element ref="Form"/>
        <xs:element ref="Picture" minOccurs="0"/>
        <xs:element ref="OneWay" minOccurs="0"/>
        <xs:element ref="Inclusives" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cars">
    <xs:annotation>
      <xs:documentation>Contains Car objects</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Car" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FormId" type="xs:int">
    <xs:annotation>
      <xs:documentation>The cars form id</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Form" type="xs:string">
    <xs:annotation>
      <xs:documentation>The cars form id</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Children" type="xs:short">
    <xs:annotation>
      <xs:documentation>Number of children</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Country" type="xs:int">
    <xs:annotation>
      <xs:documentation>The country id</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Currency">
    <xs:annotation>
      <xs:documentation>The currency</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="[A-Z]{3}|.{0}"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DemandedObject">
    <xs:annotation>
      <xs:documentation>Must be 10002</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="10002"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Doors" type="xs:short">
    <xs:annotation>
      <xs:documentation>Number of doors</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Error">
    <xs:annotation>
      <xs:documentation>Contains error related data</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ErrorType"/>
        <xs:element ref="ErrorText"/>
        <xs:element ref="ErrorNo"/>
        <xs:element ref="MessageText" minOccurs="0"/>
        <xs:element ref="MessageType" minOccurs="0"/>
        <xs:element ref="MessageNo" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MessageText" type="xs:string">
    <xs:annotation>
      <xs:documentation>The text of the business message</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MessageType" type="xs:string">
    <xs:annotation>
      <xs:documentation>The type of the business message</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="MessageNo" type="xs:string">
    <xs:annotation>
      <xs:documentation>The number of the business message</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ErrorNo" type="xs:string">
    <xs:annotation>
      <xs:documentation>The number of the error</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ErrorText" type="xs:string">
    <xs:annotation>
      <xs:documentation>The description</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ErrorType" type="xs:string">
    <xs:annotation>
      <xs:documentation>The error type</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RateQualifier">
    <xs:annotation>
      <xs:documentation>The RateQualifier/SellReference from External Supplier</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="Diesel"/>
        <xs:enumeration value="Benziner"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="FuelType" type="xs:string">
    <xs:annotation>
      <xs:documentation>The fuel type</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="GroupId" type="xs:int">
    <xs:annotation>
      <xs:documentation>The group id</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="GroupName" type="xs:string">
    <xs:annotation>
      <xs:documentation>The name of the group</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="HorsePower" type="xs:int">
    <xs:annotation>
      <xs:documentation>The cars horse power</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LuggageLarge" type="xs:short">
    <xs:annotation>
      <xs:documentation>The number of suitcases</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LuggageSmall" type="xs:short">
    <xs:annotation>
      <xs:documentation>The number of bags</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Price">
    <xs:annotation>
      <xs:documentation>The price of the car</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="\d{2,4}.\d{2}"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="PriceStd">
    <xs:annotation>
      <xs:documentation>The standard price of the car</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="\d{2,4}.\d{2}"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Picture" type="xs:string">
    <xs:annotation>
      <xs:documentation>The filname of picture to show</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Producer" type="xs:string">
    <xs:annotation>
      <xs:documentation>The cars producer</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PromoCode" type="xs:string">
    <xs:annotation>
      <xs:documentation>The promotion code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PromoText" type="xs:string">
    <xs:annotation>
      <xs:documentation>The promotion text</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RequestorResult">
    <xs:annotation>
      <xs:documentation>Enveloping tag</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Administration"/>
        <xs:element ref="Cars" minOccurs="0"/>
        <xs:element ref="Customer" minOccurs="0"/>
        <xs:element ref="Travel"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required"/>
      <xs:attribute name="sessionId" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Seats" type="xs:short">
    <xs:annotation>
      <xs:documentation>Number of seats</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Status">
    <xs:annotation>
      <xs:documentation>1 = stop sale, 0 = on request, 13 = available</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="0"/>
        <xs:enumeration value="1"/>
        <xs:enumeration value="13"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Travel">
    <xs:annotation>
      <xs:documentation>Contains travel related data</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="OffTerminal" type="OffTerminalType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrunkSize" type="xs:int">
    <xs:annotation>
      <xs:documentation>The trunks size</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Type" type="xs:string">
    <xs:annotation>
      <xs:documentation>The cars type</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TypeId" type="xs:int">
    <xs:annotation>
      <xs:documentation>The type id of the car</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Customer">
    <xs:annotation>
      <xs:documentation> Contains Customer Tags</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Country"/>
        <xs:element ref="PromoCode"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OneWay">
    <xs:complexType>
      <xs:all>
        <xs:element ref="FeeInclusive"/>
        <xs:element ref="Fee" minOccurs="0"/>
        <xs:element ref="Currency" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="Fee">
    <xs:annotation>
      <xs:documentation>the fee amount</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="\d{2,4},\d{2}"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="FeeInclusive">
    <xs:annotation>
      <xs:documentation>is fee included in rate</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:int">
        <xs:pattern value="0|1"/>
        <xs:enumeration value="0"/>
        <xs:enumeration value="1"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Inclusives">
    <xs:annotation>
      <xs:documentation>ContainsInclusive objects</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Inclusive" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Inclusive">
    <xs:annotation>
      <xs:documentation>The Inclusive object</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Code"/>
        <xs:element ref="Id"/>
        <xs:element ref="Value1" minOccurs="0"/>
        <xs:element ref="Value2" minOccurs="0"/>
        <xs:element ref="Description"/>
        <xs:element ref="Class" minOccurs="0"/>
        <xs:element ref="ClassId" minOccurs="0"/>
        <xs:element ref="ClassCode" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Class" type="xs:string">
    <xs:annotation>
      <xs:documentation>The name</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Code" type="xs:string">
    <xs:annotation>
      <xs:documentation>The inclusive code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Id" type="xs:int">
    <xs:annotation>
      <xs:documentation>The id</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Value1" type="xs:string">
    <xs:annotation>
      <xs:documentation>value information 1</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Value2" type="xs:string">
    <xs:annotation>
      <xs:documentation>value information 2</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Value3" type="xs:string">
    <xs:annotation>
      <xs:documentation>value information 3</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ClassId" type="xs:int">
    <xs:annotation>
      <xs:documentation>The ItemClass id</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ClassCode" type="xs:string">
    <xs:annotation>
      <xs:documentation>The inclusive class code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Description" type="xs:string">
    <xs:annotation>
      <xs:documentation>The info</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
