jboss-hsgw-tool/oi/GetCarsByLocationRequest/GetCarsByLocationRequest.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Mit XMLSpy v2007 sp2 (http://www.altova.com) von XMLSpy 2007 Professional Ed., Installed for 2 users (with SMP from 2006-12-12 to 2007-12-13) (BPCS GmbH) bearbeitet -->
<!-- edited with XMLSpy v2005 sp2 U (http://www.altova.com) by Stefan Holling (BPCS Consulting Services GmbH) -->
<!--W3C Schema generated by XMLSpy v2005 sp2 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:include schemaLocation="../Common/CarCommonTypes.xsd"/>
	<xs:element name="Administration">
		<xs:annotation>
			<xs:documentation>Contains administrative data</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="UserType"/>
				<xs:element ref="LanguageId"/>
				<xs:element ref="OperatorId"/>
				<xs:choice>
					<xs:element ref="BrokerId" minOccurs="0"/>
					<xs:sequence minOccurs="0">
						<xs:element ref="AgencyId"/>
						<xs:element ref="MarkUpRel" minOccurs="0"/>
					</xs:sequence>
				</xs:choice>
				<xs:element ref="BookingId" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="BookingId" type="xs:string">
		<xs:annotation>
			<xs:documentation>reference to an existing booking</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="BrokerId" type="xs:long">
		<xs:annotation>
			<xs:documentation>A broker id</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AgencyId" type="xs:long">
		<xs:annotation>
			<xs:documentation>A agency id</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="MarkUpRel" type="xs:string">
		<xs:annotation>
			<xs:documentation>A agency markup</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DropOffDate">
		<xs:annotation>
			<xs:documentation>The drop off date</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:date">
				<xs:pattern value="\d{4}-\d{2}-\d{2}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DropOffTime">
		<xs:annotation>
			<xs:documentation>The drop off time</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="\d{2}:\d{2}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="LanguageId">
		<xs:annotation>
			<xs:documentation>The desired language in ISO-639</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="[a-z]{2}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="OperatorId" type="xs:long">
		<xs:annotation>
			<xs:documentation>The operator id</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="PickUpDate">
		<xs:annotation>
			<xs:documentation>The pick up date</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:date">
				<xs:pattern value="\d{4}-\d{2}-\d{2}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="PickUpTime">
		<xs:annotation>
			<xs:documentation>The pick up time</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:pattern value="\d{2}:\d{2}"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Request">
		<xs:annotation>
			<xs:documentation>Enveloping tag</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CalledFrom"/>
				<xs:element ref="DemandedObjects"/>
				<xs:element ref="Administration"/>
				<xs:element ref="CarAvailRQCore"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="UserType">
		<xs:annotation>
			<xs:documentation>Can be P for productive or T for test</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:string">
				<xs:enumeration value="P"/>
				<xs:enumeration value="T"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="RequestorRequest">
		<xs:annotation>
			<xs:documentation>Enveloping tag</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="RequestorName"/>
				<xs:element ref="RequestorRequestContent"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RequestorName">
		<xs:annotation>
			<xs:documentation>Must be XML</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:attribute name="sessionId" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="RequestorRequestContent">
		<xs:annotation>
			<xs:documentation>Enveloping tag</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Request"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CalledFrom">
		<xs:annotation>
			<xs:documentation>Must be 5 for the web</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="5"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="DemandedObjects">
		<xs:annotation>
			<xs:documentation>Contains DemandedObject objects</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DemandedObject"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="DemandedObject">
		<xs:annotation>
			<xs:documentation>Must be 12002</xs:documentation>
		</xs:annotation>
		<xs:simpleType>
			<xs:restriction base="xs:short">
				<xs:enumeration value="12002"/>
			</xs:restriction>
		</xs:simpleType>
	</xs:element>
	<xs:element name="CarAvailRQCore">
		<xs:annotation>
			<xs:documentation>Identifies the common, or core, information associated with the request for availability of a rental car.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="CarRentalCore"/>
				<xs:element ref="RateQualifier" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CarRentalCore" type="CarRentalCoreType">
		<xs:annotation>
			<xs:documentation>Information that is common,  or core, to all requests and responses associated with the reservation of a car.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="RateQualifier" type="RateQualifierAttributeGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">Indicates the type of rates of interest to the customer, along with any promotional codes that may affect the rate.</xs:documentation>
		</xs:annotation>
	</xs:element>
</xs:schema>
