jboss-hsgw-tool/oi/GetCarsByLocationResponse/GetCarsByLocationResponse.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Mit XMLSpy v2007 sp2 (http://www.altova.com) von XMLSpy 2007 Professional Ed., Installed for 2 users (with SMP from 2006-12-12 to 2007-12-13) (BPCS GmbH) bearbeitet -->
<!--W3C Schema generated by XMLSpy v2005 sp2 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:include schemaLocation="../Common/CarCommonTypes.xsd"/>
  <xs:element name="Errors">
    <xs:annotation>
      <xs:documentation>Contains error objects</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Error" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ACRISS">
    <xs:annotation>
      <xs:documentation>The ACRISS code</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="[A-Z]{0,4}"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Administration">
    <xs:annotation>
      <xs:documentation>Contain administrative data</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="UserType"/>
        <xs:element ref="LanguageId"/>
        <xs:element ref="OperatorId"/>
        <xs:element ref="BrokerId"/>
        <xs:element ref="Errors" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Adults" type="xs:short">
    <xs:annotation>
      <xs:documentation>Number of adults</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Car">
    <xs:annotation>
      <xs:documentation>The Car object</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="GroupId"/>
        <xs:element ref="GroupName"/>
        <xs:element ref="TypeId"/>
        <xs:element ref="TypeName"/>
        <xs:element ref="FormId"/>
        <xs:element ref="FormName"/>
        <xs:element ref="Producer"/>
        <xs:element ref="ACRISS"/>
        <xs:element ref="Doors"/>
        <xs:element ref="Seats"/>
        <xs:element ref="HorsePower"/>
        <xs:element ref="TrunkSize"/>
        <xs:element ref="Adults"/>
        <xs:element ref="Children"/>
        <xs:element ref="LuggageLarge"/>
        <xs:element ref="LuggageSmall"/>
        <xs:element ref="FuelType"/>
        <xs:element ref="Picture" minOccurs="0"/>
        <xs:element ref="OneWay" minOccurs="0"/>
        <xs:element ref="ServiceCatalogs"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CarAvailRSCore">
    <xs:annotation>
      <xs:documentation>Identifies the common, or core, information associated with the response poviding information on the availability of rental cars.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CarRentalCore"/>
        <xs:element ref="RateQualifier" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CarRentalCore" type="CarRentalCoreType">
    <xs:annotation>
      <xs:documentation>Information that is common,  or core, to all requests and responses associated with the reservation of a car.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RateQualifier" type="RateQualifierAttributeGroup">
    <xs:annotation>
      <xs:documentation xml:lang="en">Indicates the type of rates of interest to the customer, along with any promotional codes that may affect the rate.</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CarSupplierAvails">
    <xs:annotation>
      <xs:documentation>A collection of suppliers for which car availability is available.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="CarSupplierAvail" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CarSupplierAvail">
    <xs:annotation>
      <xs:documentation>Information on the availability of rental cars for one specific supplier.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Supplier"/>
        <xs:element ref="OffAirport"/>
        <xs:element ref="OffTerminal"/>
        <xs:element ref="Station" minOccurs="0" maxOccurs="2"/>
        <xs:element ref="Cars" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Supplier">
    <xs:annotation>
      <xs:documentation>Information on the supplier associated with this availability of rental cars.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:attribute name="Id" type="xs:int" use="required"/>
      <xs:attribute name="Name" type="xs:string" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cars">
    <xs:annotation>
      <xs:documentation>A collection of cars along with their availability.</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Car" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FormId" type="xs:int">
    <xs:annotation>
      <xs:documentation>The cars form id</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FormName" type="xs:string">
    <xs:annotation>
      <xs:documentation>The cars form name</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Children" type="xs:short">
    <xs:annotation>
      <xs:documentation>Number of children</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Country" type="xs:int">
    <xs:annotation>
      <xs:documentation>The country id</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Currency">
    <xs:annotation>
      <xs:documentation>The currency</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="[A-Z]{3}"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="DemandedObjects">
    <xs:annotation>
      <xs:documentation>Must be 1,2</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value="1,2"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="Doors" type="xs:short">
    <xs:annotation>
      <xs:documentation>Number of doors</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Error">
    <xs:annotation>
      <xs:documentation>Contains error related data</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ErrorType"/>
        <xs:element ref="ErrorText"/>
        <xs:element ref="ErrorNo"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ErrorNo" type="xs:string">
    <xs:annotation>
      <xs:documentation>The number of the error</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ErrorText" type="xs:string">
    <xs:annotation>
      <xs:documentation>The description</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ErrorType" type="xs:string">
    <xs:annotation>
      <xs:documentation>The error type</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="FuelType">
    <xs:annotation>
      <xs:documentation>The fuel type</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:enumeration value=""/>
        <xs:enumeration value="Benziner"/>
        <xs:enumeration value="Diesel"/>
        <xs:enumeration value="Unspecified"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="GroupId" type="xs:int">
    <xs:annotation>
      <xs:documentation>The group id</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="GroupName" type="xs:string">
    <xs:annotation>
      <xs:documentation>The name of the group</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="HorsePower" type="xs:int">
    <xs:annotation>
      <xs:documentation>The cars horse power</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LuggageLarge" type="xs:short">
    <xs:annotation>
      <xs:documentation>The number of suitcases</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="LuggageSmall" type="xs:short">
    <xs:annotation>
      <xs:documentation>The number of bags</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Picture" type="xs:string">
    <xs:annotation>
      <xs:documentation>The filname of picture to show</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Producer" type="xs:string">
    <xs:annotation>
      <xs:documentation>The cars producer</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PromoCode" type="xs:string">
    <xs:annotation>
      <xs:documentation>The promotion code</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="PromoText" type="xs:string">
    <xs:annotation>
      <xs:documentation>The promotion text</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="RequestorResult">
    <xs:annotation>
      <xs:documentation>Enveloping tag</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="Administration"/>
        <xs:element ref="CarAvailRSCore"/>
        <xs:element ref="CarSupplierAvails"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required"/>
      <xs:attribute name="sessionId" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Seats" type="xs:short">
    <xs:annotation>
      <xs:documentation>Number of seats</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TrunkSize" type="xs:int">
    <xs:annotation>
      <xs:documentation>The trunks size</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TypeName" type="xs:string">
    <xs:annotation>
      <xs:documentation>The cars type</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TypeId" type="xs:int">
    <xs:annotation>
      <xs:documentation>The type id of the car</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ServiceCatalogs">
    <xs:annotation>
      <xs:documentation>Contains ServiceCatalog objects</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="ServiceCatalog" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServiceCatalog" type="ServiceCatalogType">
    <xs:annotation>
      <xs:documentation>The ServiceCatalog object</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="UserType"/>
  <xs:element name="LanguageId"/>
  <xs:element name="OperatorId"/>
  <xs:element name="BrokerId"/>
  <xs:element name="OneWay">
    <xs:complexType>
      <xs:all>
        <xs:element ref="FeeInclusive"/>
        <xs:element ref="Fee" minOccurs="0"/>
        <xs:element ref="Currency" minOccurs="0"/>
      </xs:all>
    </xs:complexType>
  </xs:element>
  <xs:element name="Fee">
    <xs:annotation>
      <xs:documentation>the fee amount</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:string">
        <xs:pattern value="\d{2,4},\d{2}"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="FeeInclusive">
    <xs:annotation>
      <xs:documentation>is fee included in rate</xs:documentation>
    </xs:annotation>
    <xs:simpleType>
      <xs:restriction base="xs:int">
        <xs:pattern value="0|1"/>
        <xs:enumeration value="0"/>
        <xs:enumeration value="1"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:element>
  <xs:element name="OffTerminal" type="OffTerminalType"/>
  <xs:element name="OffAirport" type="OffTerminalType"/>
  <xs:element name="Station">
    <xs:annotation>
      <xs:documentation>station which is part of an offer</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:all>
        <xs:element ref="StationId"/>
        <xs:element ref="TomaId" minOccurs="0"/>
      </xs:all>
      <xs:attribute name="mode" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="pickUp"/>
            <xs:enumeration value="dropOff"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>
  <xs:element name="StationId" type="xs:long">
    <xs:annotation>
      <xs:documentation>HSGW OI identifier of a station</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="TomaId" type="xs:string">
    <xs:annotation>
      <xs:documentation>TOMA identifier of a station</xs:documentation>
    </xs:annotation>
  </xs:element>
</xs:schema>
